@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #efecee;
    background-image: linear-gradient(to right, rgba(255,255,255,.6),rgba(255,255,255,.6)),url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    height: 40vh;
    background-color: #494a49;
}

section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    overflow: hidden;
    text-align: center;
}

.main {
    transform: translate(-50%,-20vh);
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
}

.main h1 {
    padding: 50px 0;
    margin: 0;
    height: 60px;
    font-size: 60px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #494a49;
}

.main p {
    padding: 15px 50px;
    margin: 0;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #494a49;
}

.main .access {
    margin: 0;
    padding: 12px 22px;
    background-color: #494a49;
    color: #efecee;
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

.logo {
    transform: translate(-50%,-10vh);
}

.logo img {
    width: 250px;
    height: 180px;
    margin: 0;
    padding: 0;
}

.logo h4 {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #494a49;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.logo h6 {
    font-size: 15px;
    opacity: .8;
    letter-spacing: 4px;
    margin-top: 6px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #494a49;
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.footer {
    transform: translate(-50%,-5vh);
    margin-bottom: 50px;
}

.footer .seperator {
    width: 20%;
    height: 3px;
    background-color: #494a49;
    display: inline-block;
    border-radius: 5px;
}

.footer p {
    font-size: 15px;
    color: #494a49;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.footer p span {
    color: #000;
}

.footer a {
    font-size: 15px;
    color: #494a49;
}

.footer a:hover {
    color: #000;
}

@media(max-width: 420px) {
    section {
        width: 80%;
    }
    .main h1 {
        font-size: 40px;
    }
    .main p {
        padding: 15px 10px;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .main .access {
        font-size: 18px;
    }
    .logo img {
        width: 140px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    .logo h4 {
        font-size: 20px;
        text-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    .logo h6 {
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 3px;
        text-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
    .footer p {
        font-size: 10px;
    }
    .footer a {
        font-size: 10px;
    }
}